{% extends 'main.html' %}

{% block title %} {{ data[0][1] }} {% endblock %}

{% block header %}
<h1 class="header_title">Event tracker</h1>

<div class="header_links">
    <a class="btn_login" href="">Профиль пользователся {{ username }}</a>
    <a class="btn_registr" href="{{ url_for('schedule') }}">Ко всем ивентам</a>
</div>

{% endblock %}

{% block main %}

    <table class="schedule_table">
        <thead class="table_title">
            <th>{{ data[0][1] }} от {{ data[0][0] }}</th>
        </thead>

        <tbody>
            <tr class="table_name">
               <td>участники</td> 
            </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}