{% extends 'main.html' %}

{% block title %} Страница регистрации {% endblock %}

{% block header %}
<h1 class="header_title">Event tracker</h1>

<div class="header_links">
    <a class="btn_login" href="{{ url_for('login') }}">Войти</a>
    <a class="btn_registr" href="{{ url_for('main') }}">В главное меню</a>
</div>
{% endblock %}

{% block main %}
<div class="register_main">
    <h1 class="main_title">Регистрация</h1>

    <div class="main_text">
        <p>Введите данные для регистрации</p>
    </div>


    <form action="{{ url_for('register') }}" method="POST" autocomplete="off">
        <div class="registration_part">
            <label for="name">Имя</label>
            <input type="text" name="fullname" id="fullname" placeholder="Введите ваше имя"/>
        </div>
        <div class="registration_part">
            <label for="username">Псевдоним</label>
            <input type="text" name="username" id="username" placeholder="Введите ваш псевдоним"/>
        </div>  
        <div class="registration_part">
            <label for="email">Почта</label>
            <input type="text" name="email" id="email" placeholder="Введите вашу почту"/>
        </div>  
        <div class="registration_part">
            <label for="password">Пароль</label>
            <input type="text" name="password" id="password" placeholder="Введите ваш пароль"/>
        </div> 
        
        <input type="submit" value="Зарегестрироваться">

        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <div>
        {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>

    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите!</a></p>
</div>
{% endblock %}