.blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

/* main start */

.main_content {
    flex-direction: column;
}

.main_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_button {
    background-color: #1382aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: background-color 0.3s;
    margin-right: 100px;
}

.main_button:last-child {
    margin-right: 0;
}

/* main end */

/* login start */


/* login end */

/* register start */

.register_main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 50px;
}

.registration_part {
    display: flex;
    margin: 15px 0;
}

/* register end */

/* flash-message start */

.flash-messages {
    position: fixed;
    top: 150px; /* Расположение сверху */
    left: 50%;
    transform: translateX(-50%); /* Центрирование по горизонтали */
    z-index: 1000; /* Чтобы окно было поверх других элементов */
    width: 90%; /* Ширина окна */
    max-width: 400px; /* Максимальная ширина */
}

.flash-message {
    background-color: #f8d7da; /* Цвет фона */
    color: #721c24; /* Цвет текста */
    padding: 15px;
    border: 1px solid #f5c6cb; /* Граница */
    border-radius: 5px;
    margin-bottom: 10px; /* Отступ между сообщениями */
    display: none; /* Скрыто по умолчанию */
    justify-content: center;
    opacity: 1; /* Начальная непрозрачность */
    transition: opacity 0.5s ease; /* Плавный переход для исчезновения */
}

/* flash-message start */

/* schedule start */

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_links {
    display: flex;
    flex-direction: row;
    place-items: center
}

.btn_login, .btn_registr {
    color: whitesmoke;
    padding: 10px 10px;
    background-color: black;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
}

.btn_login:hover, btn_registr:hover {
    background: #1d49aa;
}

.table_header {
    margin: 0 0;
    border-bottom: none;
}

.create_event_btn {
    padding: 5px 5px;
    color: #fff;
    background-color: #149cba;
    border: none;
    border-radius: 12px;
}

.create_event_btn:hover {
    background: #1d49aa;
  }

.table th, .table td {
    vertical-align: middle;
}

.table tbody tr {
    height: 50px; /* Увеличиваем высоту строк */
}

.table_row {
    cursor: pointer;
}

.table_row:hover {
    background-color: #149cba;
}

.disc_row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

/* schedule_form start */

.form_popup{
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
}

.form_popup.show {
    display: block;
    opacity: 1;
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn_cancel {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s;
}

.btn_cancel:hover {
    background-color: #d32f2f;
}

.form_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form_input:focus {
    border-color: #007bff;
    outline: none;
}

/* input[type="submit"], input[type="button"] {
    background-color: #1382aa;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
} */

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #111c8d;
}

/* schedule_form end*/


/* schedule end */

/* user_page start */

.user_page_main {
    display: flex;
}

.user_page_avatar {
    width: 200px;
    height: 200px;
}

/* user_page end */