{% extends 'main.html' %}

{% block title %} Страница логина {% endblock %}

{% block main %}
<div class="login_main">

    <h1 class="main_title">Вход</h1>

    <form action="{{ url_for('auth.login') }}" method='POST'>

        <div class="login_part">
            <input type="text" name="username" id="username" placeholder="Введите логин">
        </div>

        <div class="login_part">
            <input type="text" name="password" id="password" placeholder="Введите пароль">
        </div>

        <input type="submit" value="Войти">
    </form>

    <p class="login_reg">Нету аккаунта?</p>
    <input type="button" value="Зарегистрируйтесь!" onclick="location.href='{{ url_for('auth.register') }}'">
    <input type="button" value="На главную" onclick="location.href='{{ url_for('auth.main') }}'">
</div>
{% endblock %}