<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block custom_css %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>{% block title %} Главная страница {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='js/subscribe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/schedule_form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash-message.js') }}"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="main_header">
        {% block header %}
        {% endblock %}
    </div>

    <div class="main_main ">
        {% block main %}
            <div class="d-flex justify-content-center align-items-center vh-100 bg-light main_content">
                    <h1 class="main_title">Event tracker</h1>

                    <h3>Приложение для учёта внерабочих активностей с возможностью уведомлений в телеграм</h>

                    <div class="main_buttons">
                        <input class="main_button" type="button" value="Вход" onclick="location.href='{{ url_for('auth.login') }}'">
                        <input class="main_button" type="button" value="Регистрация" onclick="location.href='{{ url_for('auth.register') }}'">
                    </div>

            </div>
        {% endblock %}
    </div>

</body>
</html>