<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %} Главная страница {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='js/subscribe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/schedule_form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash-message.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="main_header">
        {% block header %}
            <h1 class="header_title">Event tracker</h1>
        {% endblock %}
    </div>

    <div class="main_main">
        {% block main %}
            <div class="main_content">
                <div class="main_left">
                    <h1 class="main_title">Event tracker</h1>

                    <div class="main_text">
                        <p>Приложение для учёта вне рабочих активностей</p>
                    </div>
                </div>

                <div class="main_right">
                    <input type="button" value="Вход" onclick="location.href='{{ url_for('auth.login') }}'">
                    <input type="button" value="Регистрация" onclick="location.href='{{ url_for('auth.register') }}'">
                </div>
            </div>
        {% endblock %}
    </div>

</body>
</html>